.container{
  height: 600px;
  padding: 50px;
  background-color: #7cf47c;
}

.row{
  height: 500px;
  padding: 15px;
  background-color: #5d90b5;
}

.col{
  height: 200px;
  border: 5px solid red;
}

.col.impar{
  background-color: #7cf47c;
}

.col.par{
  background-color: #fc2aec;
}
