<!DOCTYPE html>
  <html lang="pt-br ">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstraṕ CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">

    <title>Bootstrap</title>

  </head>

  <body>

    <!-- Offset -->
    <div class="container" class="horizontal">

      <div class="row" id="offset">
        <div class="col-md-3 offset-md-1">md-1</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-2">md-2</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-3">md-3</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-4">md-1</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-5">md-5</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-6">md-6</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-7">md-7</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-8">md-8</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-8">md-9</div>
      </div>
      <div class="row" id="offset">
        <div class="col-md-3 offset-md-8">md-10</div>
      </div>

    </div>
  
  </body>

</html>