<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstraṕ CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">

    <title>Bootstrap</title>

  </head>

  <body>

    <!-- Container -->
    <div class="container">
      <h1>Container</h1>
      <p>Conteúdo do Container</p>
      <button class="btn btn-primary">Enviar</button>
    </div>

    <!-- Container Fluid -->
    <div class="container-fluid">
      <h1>Container Fluid</h1>
      <p>Conteúdo do Container Fluid</p>
      <button class="btn btn-primary">Enviar</button>
    </div>

    <!-- Container SM -->
    <div class="container-sm">
      <h1>Container SM</h1>
      <p>Conteúdo do Container SM</p>
      <button class="btn btn-primary">Enviar</button>
    </div>

    <!-- Container MD -->
    <div class="container-md">
      <h1>Container MD</h1>
      <p>Conteúdo do Container MD</p>
      <button class="btn btn-primary">Enviar</button>
    </div>

    <!-- Container LG -->
    <div class="container-lg">
      <h1>Container LG</h1>
      <p>Conteúdo do Container LG</p>
      <button class="btn btn-primary">Enviar</button>
    </div>
    
  </body>

</html>